body {
    background-color: #1b1b32;

    color: #fff;

    margin: 0;
}

.title,
p {
    text-align: center;
}

form {
    margin: 20px auto;

    min-width: 300px;

    width: 60%;

    max-width: 500px;
}
