*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1b32;

    color: #f5f6f7;
}

.title,
p {
    text-align: center;
    margin: 20px 0;
}

form {
    margin: 0 auto;

    min-width: 300px;

    width: 60%;

    max-width: 500px;
    padding-bottom: 30px;
}

fieldset {
    /* padding: 0; */
    padding: 30px 0;

    /* border: 3px solid green; */
    border: none;
    border-bottom: 3px solid #3b3b4f;
}

form fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 10px 0;

    width: 100%;
}

input,
select {
    height: 30px;
}

input,
select,
textarea {
    width: 100%;
    padding: 5px;
    padding-right: 0;

    margin-top: 6px;

    border: none;
    outline: none;

    color: #fff;

    font-size: 100%;

    background-color: #0a0a23;
}

.inline,
input[type="checkbox"] {
    width: unset;
    vertical-align: middle;

    margin: 0;
    margin-right: 4px;
}

select {
    background-color: white;
    color: initial;
}

a:link {
    color: #fff;
}

input[type="submit"] {
    display: block;

    width: 60%;
    height: 35px;

    font-size: 100%;

    margin: 0 auto;

    padding: 0 10px;

    background-color: #3b3b4f;
    border: 1px solid #fff;

    cursor: pointer;
}

@media (max-width: 720px) {
}
