*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

:root {
    --dark-grey: #0a0a23;
    --white: #ffffff;
    --yellow: #f1be32;

    --font: "Montserrat", sans-serif;
    --font-size: 16px;
    --font-weight: bold;
}

body {
    background-color: var(--dark-grey);
    color: #fff;

    font-family: var(--font);
    font-size: var(--font-size);
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
}

.title {
    margin-right: 8px;
    font-size: 2.5rem;
}

.date-svg {
    width: 30px;
    height: 30px;
}

.divider {
    height: 10px;
    width: 180px;

    margin: 10px auto 40px;

    background-color: var(--yellow);
}

.select-container {
    position: relative;

    width: 50%;
    margin: 0 auto;

    margin-bottom: 40px;
}

select {
    width: 100%;
    height: 50px;

    padding: 10px;

    border: none;
    outline: none;

    appearance: none;

    font-size: var(--font-size);
    font-weight: var(--font-weight);

    cursor: pointer;
}

.select-icon {
    position: absolute;
    top: 8px;
    right: 4px;

    pointer-events: none;
}

.icon {
    fill: var(--dark-grey);
    margin-left: 5px;
}

.current-date {
    text-align: center;

    font-size: 2rem;
    font-weight: var(--font-weight);
}

@media (max-width: 375px) {
    .title {
        font-size: 2rem;
    }

    .divider {
        width: 120px;
    }

    .select-container {
        width: 80%;
    }

    .current-date {
        font-size: 2rem;
    }
}
