/* 
#feac32

#ffac33
#feac32


#0a0a23
#ffffff
*/

body {
    background-color: #0a0a23;

    padding: 20px;
}

#game {
    background-color: #ffffff;

    width: 40%;
    max-width: 500px;
    min-width: 400px;

    margin: 0 auto;
    padding: 10px;
}

#stats,
#controls,
#monsterStats {
    border: 1px solid #0a0a23;
    padding: 5px;
}

.stat {
    margin-right: 10px;
}

#monsterStats {
    background-color: #c70d0d;
    color: #ffffff;
}

#text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
}
