/* CSS Variable */
:root {
    --penguin-face: white;
    --penguin-picorna: orange;
    --penguin-skin: gray;
}

/* body */

/* left-mountain */

/* back-mountain */

/* sun */

/* penguin */

/* face */

/* chin */

/* eye */

/* blush */

/* beak */

/* penguin-head */

/* shirt */

/* penguin-body */

/* ground */
