/* CSS Variable */
:root {
    --penguin-face: white;
    --penguin-picorna: orange;
    --penguin-skin: gray;
}

/* body */
body {
    margin: 0;
    padding: 0;

    width: 100%;
    /* width: 100vw; */
    height: 100vh;

    overflow: hidden;
}

/* left-mountain */

/* back-mountain */

/* sun */

/* penguin */

/* face */

/* chin */

/* eye */

/* blush */

/* beak */

/* penguin-head */

/* shirt */

/* penguin-body */

/* ground */
