/* CSS Variable */
:root {
    --penguin-face: white;
    --penguin-picorna: orange;
    --penguin-skin: gray;
}

/* body */
body {
    margin: 0;
    padding: 0;

    width: 100%;
    /* width: 100vw; */
    height: 100vh;

    overflow: hidden;

    background: linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
}

/* left-mountain */
.left-mountain {
    width: 300px;
    height: 300px;

    background: linear-gradient(rgb(203, 241, 228), rgb(80, 183, 255));

    margin-top: 100px;

    z-index: 2;

    border: 2px solid green;

    position: absolute;
    transform: skew(0deg, 44deg);
}

/* back-mountain */
.back-mountain {
    width: 300px;
    height: 300px;

    background: linear-gradient(rgb(203, 241, 228), rgb(47, 170, 255));

    z-index: 1;
}

/* sun */

/* penguin */

/* face */

/* chin */

/* eye */

/* blush */

/* beak */

/* penguin-head */

/* shirt */

/* penguin-body */

/* ground */
