:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;

    --foreground-color: #3b3b4f;
    --background-color: #1b1b32;

    --app-background-color: #4d4d62;
    --highlight-color: #f1be32;

    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);

    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
}

body {
    border: 3px solid red;

    padding: 10px;
}

.container {
    border: 3px solid blue;

    padding: 10px;
}

/*
Ths learnt:
1. Wn using flex to center a container, no need for width
2. As flex-direction: row is to justify-content: center so is
flex-direction: column to align-items: center to center an item

2. If u think width: 100%; does nt work on a box, increase
it more than 100

3. U can use width ppty twice in a selector by using min(width)
4.

*/

.player,
.playlist {
    padding: 10px;
    border: 4px solid var(--foreground-color);
}

.player {
    padding: 10px;

    border: 3px solid yellowgreen;
}

.player-bar,
.playlist-bar {
    padding: 10px;

    border: 3px solid var(--foreground-color);
}

.parallel-lines {
    padding: 10px;

    border: 3px solid var(--highlight-color);
}

.parallel-lines div {
}

.fcc-title {
    padding: 10px;

    border: 3px solid gold;
}

.player-content {
    padding: 10px;
    border: 3px solid green;
}

#player-album-art {
    /* width: 200px; */
    /* padding: 10px; */

    border: 6px solid var(--background-color);
    background-color: var(--primary-color);
}

#player-album-art img {
    /* border: 3px solid white; */
    width: 150px;
    /* z-index: 1; */
    /* z-index: -100; */
    display: block;
}

.player-display {
    display: flex;
    flex-direction: column;
    padding: 14px;
    background-color: var(--background-color);
    height: 153px;
    width: 226px;

    /* justify-content: space-between; */
    /* padding: 10px; */
    /* column-gap: 10px; */

    /* align-items: space-around; */
    /* padding: 10px; */

    border: 3px solid white;
}

.player-display-song-artist {
}

.player-display-song-artist p {
    margin: 0;
    /* padding: 10px; */

    /* border: 3px solid olive; */

    /* display: flex; */
    /* flex-direction: column; */
    /* row-gap: 10px; */
}

#player-song-title {
    /* padding: 10px; */

    /* border: 3px solid maroon; */
}

#player-song-artist {
    /* padding: 10px; */

    /* border: 3px solid gray; */
}

#player-song-duration {
    /* padding: 10px; */

    /* border: 3px solid gray; */
}

.player-buttons {
    /* padding: 10px; */

    border: 3px solid violet;

    display: flex;
}

button {
    /* padding: 10px; */

    border: 3px solid red;
}

button svg {
    /* padding: 10px; */

    border: 3px solid green;
}

.playlist {
    padding: 10px;
}

.playlist-bar {
    /* padding: 10px; */

    /* border: 3px solid yellowgreen; */
}

.playlist-title {
    /* padding: 10px; */

    /* border: 3px solid indigo; */

    font-family: var(--font-headline);
    font-size: var(--root-font-size);
}

#playlist-songs {
    /* padding: 10px; */

    height: 30px;

    /* border: 3px solid indianred; */

    background-color: var(--foreground-color);
}
