:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;

    --foreground-color: #3b3b4f;
    --background-color: #1b1b32;

    --app-background-color: #4d4d62;
    --highlight-color: #f1be32;

    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);

    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
}

body {
    background-color: var(--app-background-color);
    color: var(--primary-color);
}

.container {
    background-color: var(--background-color);

    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;

    border: 3px solid red;
}

.player {
    width: 480px;

    border: 3px solid green;
}
