:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;

    --foreground-color: #3b3b4f;
    --background-color: #1b1b32;

    --app-background-color: #4d4d62;
    --highlight-color: #f1be32;

    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);

    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: var(--app-background-color);
    color: var(--primary-color);
}

.container {
    background-color: var(--background-color);

    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    align-items: center;

    border: 3px solid red;
}

.player {
    width: 480px;

    border: 3px solid green;
}

.player-bar {
    width: 100%;
    display: flex;

    border: 10px solid purple;
}

.parallel-lines {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    border: 3px solid green;
}

.parallel-lines div {
    height: 2px;
    width: 100%;

    min-width: 75px;

    /* border: 5px solid violet; */

    background-color: var(--highlight-color);
}
