/* 
HTML structure
body
    main: for SEO
        h1
        container: for width
            form
                label & input elemt
                fieldsets
                controls
                    label & select elemts
                    btn
                btns
                
            output

*/
:root {
    --light-grey: #f5f6f7;
    --light-pink: #ffadad;
    --light-green: #acd157;
    --light-yellow: #fecc4c;

    --fcc-blue: #1b1b32;

    --dark-blue: #0a0a23;
    --dark-red: #850000;
    --dark-yellow: #feac32;

    font-size: 62.5%;
}

body {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 1.8rem;

    background-color: var(--fcc-blue);
    color: var(--light-grey);
}

h1 {
    text-align: center;
}

.container {
    width: 90%;
    max-width: 680px;
}

h1,
.container,
/* d essence of adding .output is to mk d margin similar */
.output {
    margin: 20px auto;
}

label,
legend {
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-direction: column;
}

input,
select,
button {
    min-height: 24px;
    color: var(--dark-blue);
}

button {
    cursor: pointer;
    text-decoration: none;

    background-color: var(--light-yellow);
    border: 2px solid var(--dark-yellow);
}

label,
input,
select,
fieldset,
button {
    margin-bottom: 10px;
}

.output {
    border: 2px solid var(--light-grey);
    padding: 10px;
    text-align: center;
}

.hide {
    display: none;
}

.output span {
    font-weight: bold;
    font-size: 1.2em;
}

.surplus {
    color: var(--light-pink);
}

.deficit {
    color: var(--light-green);
}
