html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

#piano {
    width: 992px;
    height: 290px;

    background-color: #00471b;
    margin: 80px auto;
    padding: 90px 20px 0 20px;

    position: relative;

    overflow: hidden;
}

#logo {
    width: 200px;

    position: absolute;

    top: 23px;
}

.keys {
    width: 949px;
    height: 180px;

    background-color: #040404;

    padding-left: 2px;
}

.key {
    height: 175px;
    width: 41px;

    background-color: #fff;
    float: left;

    margin: 2px;

    border-radius: 0 0 3px 3px;

    position: relative;
}

.key.black--key::after {
    width: 32px;
    height: 100px;

    content: "";

    background-color: #1d1e22;

    position: absolute;
    left: -18px;
    border-radius: 0 0 3px 3px;
}

@media (max-width: 678px) {
    #piano {
        width: 358px;
    }

    .keys {
        width: 318px;
    }

    #logo {
        width: 150px;
    }
}

@media (min-width: 679px) and (max-width: 1199px) {
    #piano {
        width: 675px;
    }

    .keys {
        width: 633px;
    }

    body {
        background-color: red;
    }
}

/* 
358px;
318px;
150px;
675px;
633px;

*/
