*,
*::after,
*::before {
    box-sizing: border-box;
}

#piano {
    width: 990px;
    height: 300px;

    background-color: #00471b;

    margin: 80px auto;
}

#logo {
    width: 200px;
    height: 20px;
}

.keys {
    /* width: 100%; */
    margin: 60px 0 0 0;
    height: 230px;

    padding: 50px 20px 5px;
    border: 2px solid #040404;

    background-color: green;
}

.key {
    height: 150px;
    width: 43px;

    /* content: ""; */
    margin-right: 2px;
    float: left;
    /* clear: both; */
    background-color: #fff;

    position: relative;
}
