*,
*::after,
*::before {
    box-sizing: border-box;
}

#piano {
    width: 992px;
    height: 290px;

    /* background-color: #00471b; */

    /* margin: 80px auto; */

    /* padding-top: 50px; */
}

#logo {
    width: 200px;
    height: 20px;

    /* position: absolute; */
    /* top: 120px; */
}

.keys {
    width: 949px;
    height: 180px;

    margin: 60px 0 0 0;
    height: 230px;

    padding: 50px 20px 5px;
    border: 2px solid #040404;

    background-color: #040404;
}

.key {
    height: 150px;
    width: 43px;

    /* content: ""; */
    margin-right: 2px;
    float: left;
    /* clear: both; */
    background-color: #fff;

    position: relative;
}
