/* HINT: Ask yourself why this? */
body {
    width: 100%;
    height: 100vh;

    margin: 0;

    background-color: #1b1b32;
    color: #f5f6f7;

    font-family: Roboto;
    font-size: 16px;
}

label {
    display: block;
    margin: 0.5rem 0; /* 0.5rem = 8px */
}

h1,
p {
    /* 2 methods of centering an element */
    text-align: center;
    margin: 1em auto;
    /* 1em = 16px */
}

form {
    margin: 0 auto;

    width: 60vw;

    max-width: 500px;
    min-width: 300px;

    /* y nt margin-bottom: d spacing is needed inside 
    & nt outside d form*/
    padding-bottom: 2em;
}

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
}

/* pseudo class */
fieldset:last-of-type {
    border-bottom: none;
}

/* fieldset::after, fieldset::first-letter: e.gs of pseudo elemt */

input,
select,
textarea {
    width: 100%;
    margin-top: 0.625em; /* 0.625em = 10px */

    min-height: 2em;

    font-size: 1rem;

    /*
        initial padding value of:
        an input r: padding: 1px 2px;
        a textarea r: padding: 2px;
    */
    padding: 0.0625em 0.5em;
}

input:focus, /* pseudo class */
select:focus,
textarea:focus {
    outline: none;
    border: none; /* ??????? */
}

.inline {
    width: unset;

    margin-right: 0.5em;

    vertical-align: baseline;

    min-height: 0;
}

input,
textarea {
    background-color: #0a0a23;
    border: 1px solid #0a0a23;
    color: #ffffff;
}

/* attribute selectors */
input[name="submit"] {
    display: block;

    width: 60%;
    min-width: 300px;
    min-height: 2em;

    margin: 0 auto;

    background-color: #3b3b4f;
    font-size: 1.1rem;
    border-color: white;

    cursor: pointer;
}

/* attribute selectors */
input[type="file"] {
    /* padding: 1px 2px; */
    /* padding: unset; */
    padding: 1px 8px;
    min-height: 0;
}

/* input[type="file"],
select {
    width: unset;
} */

label a {
    color: #dfdfe2;
}
