body {
    background-color: #1b1b32;

    color: #ffffff;
}

.title,
.text {
    text-align: center;
    margin: 1em auto;
}

form {
    width: 40%;
    margin: 0 auto;

    padding: 10px 0;
}

fieldset {
    width: 100%;
    margin: 0 auto;

    padding: 2rem 0;

    border: none;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
    border: none;
}

label {
    display: block;
    width: 100%;

    margin: 8px 0;
}

input,
select,
textarea {
    display: block;
    margin: 8px 0;

    width: 100%;
    min-height: 25px;

    outline: none;
    border: none;
}

input,
textarea {
    color: #ffffff;

    background-color: #0a0a23;
    border: 1px solid #0a0a23;
}

input {
    margin: 5px 0;
}

select {
    background-color: #ffffff;
}

.inline {
    display: inline;

    width: unset;
    margin: 0 5px 0 0;

    vertical-align: middle;
}

a:link {
    color: #fff;
}

input[type="submit"] {
    display: block;

    margin: 2em auto;
    padding: 10px;

    min-width: 300px;
    width: 200px;

    background-color: #3b3b4f;
    border: 1px solid #fff;

    font-size: 1rem;

    cursor: pointer;
}
