/* 
    background-color: #1b1b32;

        background-color: #0a0a23;
    border: 1px solid #0a0a23;

        background-color: #3b3b4f;

*/

body {
    background-color: #1b1b32;

    color: #ffffff;
}

.title,
.text {
    text-align: center;
    margin: 1em auto;
}

form {
    width: 50%;
    margin: 1em auto;
}

fieldset {
    width: 100%;
    margin: 0 auto;

    border: none;

    border-bottom: 3px solid #3b3b4f;
}
