/* 
    background-color: #1b1b32;

        background-color: #0a0a23;
    border: 1px solid #0a0a23;

        background-color: #3b3b4f;

*/

body {
    background-color: #1b1b32;

    color: #ffffff;
}
