*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

:root {
    --light-grey: #f5f5f5;
    --dark-blue: #1b1b32;
    --orange: #f1be32;
}

body {
    background-color: var(--dark-blue);
    color: var(--light-grey);
}

.input-container {
    border: 2px solid green;
}

.output-container {
    border: 2px solid red;
}
