html {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;

    display: flex;
    gap: 10px;

    font-family: Arial, "Open Sans", sans-serif;

    font-size: 1rem;

    color: #4d4e53;

    width: 100%;

    position: relative;

    line-height: 1.4;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

/* header */
#navbar {
    width: 23%;

    scroll-behavior: smooth;

    border-right: 3px solid #a3a3a3;

    position: fixed;
    top: 0;
}

nav header {
    width: 100%;

    font-size: 1.8rem;
    padding: 15px 30px;

    color: #202020;
}

nav ul {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    font-size: 1rem;

    overflow-y: scroll;

    height: 90vh;
}

nav ul li {
    border-top: 1px solid #5f5f5f;
    padding: 10px 30px;
}

.nav-link {
    text-decoration: none;
    /* padding: 5px 0; */

    display: block;
}

/* main */
#main-doc {
    /* padding: 0 20px; */

    width: 75%;

    /* padding: 0; */

    position: relative;
    top: 0;
    left: 330px;
}

.main-section {
    margin: 20px;

    margin-right: 40px;
}

.main-section header {
    width: 100%;

    font-size: 1.8rem;
    /* padding: 15px 10px; */

    color: #202020;
}

p,
li {
    padding: 10px 0;
}

code {
    display: block;

    background-color: #f7f7f7;

    padding: 20px;
    margin: 10px;

    width: 100%;

    /* border: 2px solid green; */
}
