html {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;

    display: flex;
    gap: 10px;

    font-family: Arial, "Open Sans", sans-serif;

    font-size: 1rem;

    width: 100%;

    position: relative;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

/* header */
#navbar {
    /* border: 3px solid green; */

    /* width: 280px; */
    /* width: 40%; */

    /* padding: 20px 25px; */

    /* width: 24%; */

    width: 23%;

    scroll-behavior: smooth;

    border-right: 3px solid #a3a3a3;

    position: fixed;
    top: 0;
}

.nav-block {
    width: 100%;
}

#navbar .header {
    /* border: 3px solid red; */

    font-size: 1.8rem;
    padding: 15px 30px;

    /* width: 100vw; */
}

nav ul {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    font-size: 1rem;

    overflow-y: scroll;

    height: 90vh;

    /* padding: 5px 0; */
    /* margin: 0; */
    /* padding: 0; */
}

ul li {
    /* text-decoration: none; */
    /* list-style: none; */

    /* font-style: normal; */

    /* border: 3px solid red; */
}

nav ul li {
    border-top: 1px solid #5f5f5f;
    padding: 10px 30px;
}

.nav-link {
    text-decoration: none;
    padding: 5px 0;

    display: block;
    /* width: 100%; */
}

/* main */
#main-doc {
    /* border: 3px solid red; */

    /* width: 60%; */

    padding: 40px;

    width: 75%;

    padding: 0;

    position: relative;
    top: 0;
    left: 330px;
}
