html {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;

    display: flex;

    font-family: "Open Sans", sans-serif;

    font-size: 1rem;

    /* width: 100%; */

    width: 100vw;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

#navbar {
    /* border: 3px solid green; */

    /* width: 280px; */
    /* width: 40%; */

    /* padding: 20px 25px; */

    /* width: 24%; */

    width: 24vw;
}

#main-doc {
    /* border: 3px solid red; */

    /* width: 60%; */

    padding: 40px;

    width: 78%;
}

/* header */
#navbar {
    /* width: 20vw; */
}

#navbar .header {
    border: 3px solid red;

    font-size: 1.8rem;
    padding: 15px 20px;

    /* width: 100vw; */
}

nav ul {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    font-size: 1rem;
    /* margin: 0; */
    /* padding: 0; */
}

nav ul li {
    /* border: 3px solid red; */

    border-bottom: 1px solid #5f5f5f;
}

.nav-link {
    text-decoration: none;
    padding: 15px 30px;

    display: block;
    /* width: 100%; */
}

/* main */
