h1 {
    text-align: center;
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;

    /* margin: 0 auto; */
    /* width: 400px; */

    border: 3px solid orangered;
}

.marker {
    height: 25px;
    width: 200px;

    margin: 10px auto;
    padding: 10px 0;

    border: 3px solid green;
}

.one {
    background-color: rgb(127, 255, 0);
}

.two {
    background-color: rgb(0, 255, 255);
}

.three {
    background-color: rgb(0, 0, 255);
}

/*
Pry colors: are colors that when combined create pure white.
red
blue
green

Sec colors: are the colors produced by primary colors. 
yellow:  pure red and pure green
cyan: pure green and pure blue
magenta: pure blue and pure red

Tertiary colors: are created by combining a primary with 
a nearby secondary color.
orange: pure red and set green to 127, rgb(255, 127, 0)

spring green: combine cyan with green, rgb(0, 255, 127)

violet: combine magenta with blue, rgb(127, 0, 255)

chartreuse green: red is at 127, and set green to the max value.
rgb(127, 255, 0)

azure: green is at 127 and blue is at the max value, rgb(0, 127, 255)

rose: which is sometimes called bright pink. blue is at 127 and red 
is at the max value. rgb(255, 0, 127)



There two main color models: 
    - the additive RGB (red, green, blue) model used in electronic devices
    - the subtractive CMYK (cyan, magenta, yellow, black) model used in print.

rgb(): CSS rgb function 

margin: 10px auto;
May work on the parent and child elements. d only requiremt is 
dt width ppty must be included.

*/
