/*
1. There two main color models: 
    - the additive RGB (red, green, blue) model used in electronic devices
    - the subtractive CMYK (cyan, magenta, yellow, black) model used in print.


2. rgb(): CSS rgb function 


3. margin: 10px auto;
May work on the parent and child elements. d only requiremt is 
dt width ppty must be included.


4. Using 2 or more classes in an HTML elements:
One classes takes care of general feactures while the other takes
care of peculiar features.

<div class="marker red"></div>

.marker {
    width: 200px;
    height: 25px;

    margin: 10px auto;
}

.red {
    background: linear-gradient(
        rgb(122, 74, 14),
        rgb(245, 62, 113),
        rgb(162, 27, 27)
    );

    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
}


5. Pry colors: are colors that when combined create pure white.
red
blue
green


6. Sec colors: are the colors produced by primary colors. 
yellow:  pure red and pure green
cyan: pure green and pure blue
magenta: pure blue and pure red


7. Tertiary colors: are created by combining a primary color with 
a nearby secondary color.
orange: pure red and set green to 127, rgb(255, 127, 0)

spring green: combine cyan with green, rgb(0, 255, 127)

violet: combine magenta with blue, rgb(127, 0, 255)

chartreuse green: red is at 127, and set green to the max value.
rgb(127, 255, 0)

azure: green is at 127 and blue is at the max value, rgb(0, 127, 255)

rose: which is sometimes called bright pink. blue is at 127 and red 
is at the max value. rgb(255, 0, 127)


8. Complementary Colors
A color wheel is a circle where similar colors, or hues, are near 
each other, and different ones are further apart. 

Two colors that are opposite from each other on the color wheel are 
called complementary colors. If two complementary colors are combined, 
they produce gray. But when they are placed side-by-side, these colors 
produce strong visual contrast and appear brighter.

It's better practice to choose one color as the dominant color, 
and use its complementary color as an accent to bring attention 
to certain content on the page.


9. Hexadecimal:
Hex color values start with a # character and take six characters 
from 0-9 and A-F. The first pair of characters represent red, the 
second pair represent green, and the third pair represent blue. 
For example, #4B5320.

With hex colors, 00 is 0% of that color, and FF is 100%.
So #00FF00 translates to 0% red, 100% green, and 0% blue, and is 
the same as rgb(0, 255, 0).

Lower the intensity of green by setting the green value of the hex 
color to 7F, #007F00.


10. hsl():
The HSL color model, (or hue, saturation, and lightness).

The CSS hsl function accepts 3 values: a number  (nt in degree) 
from 0 to 360 for hue, a percentage from 0 to 100 for saturation, 
and a percentage from 0 to 100 for lightness.

If you imagine a color wheel, the hue red is at 0 degrees, green 
is at 120 degrees, and blue is at 240 degrees.

Saturation is the intensity of a color from 0%, or gray, to 100% 
for pure color. You must add the percent sign % to the saturation 
and lightness values.

Lightness is how bright a color appears, from 0%, or complete black, 
to 100%, complete white, with 50% being neutral.


11. Linear gradient:
linear-gradient(gradientDirection, color1, color2, ...);

linear-gradient function needs at least two color arguments to work.

While the linear-gradient function needs a minimum of two color 
arguments to work, it can accept many color arguments.

N.B: Linear gradient works with background and not background-color.

If no gradientDirection argument is provided to the linear-gradient 
function, it arranges colors from top to bottom, or along a 180 
degree line(horizontally/block format), by default.

12. Diff btw background-color and background.
background can be used with linear-gradient while background-color
can't.

13. Opacity
Opacity describes how opaque, or non-transparent, something is. 
With the value 0, or 0%, the element will be completely transparent, 
and at 1.0, or 100%, the element will be completely opaque like it 
is by default.

Another way to set the opacity for an element is with the alpha 
channel. Similar to the opacity property, the alpha channel 
controls how transparent or opaque a color is.

You're already familiar with using the rgb function to set colors. 
To add an alpha channel to an rgb color, use the rgba function 
instead.

rgba()
You can also use an alpha channel with hsl and hex colors.


14. The default display property for div elements is block.


15. All HTML elements have borders, though they're usually set to 
none by default.


16. Box Shadow:
The box-shadow property lets you apply one or more shadows around 
an element. Here is basic syntax:

box-shadow: offsetX offsetY blurRadius spreadRadius color;

- a positive offsetX value moves the shadow right and a negative value
moves it left

- a positive offsetY value moves the shadow down and a negative value 
moves it up.

If a blurRadius value isn't included, it defaults to 0 and produces 
sharp edges. The higher the value of blurRadius, the greater the 
blurring effect is.

The height and width of the shadow is determined by the height and 
width of the element it's applied to. 

But what if you wanted to expand the shadow out further? You can 
do that with the optional spreadRadius value:

box-shadow: offsetX offsetY blurRadius spreadRadius color;

*/
