:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;
    --app-background-color: #4d4d62;
    --background-color: #1b1b32;
    --foreground-color: #3b3b4f;
    --highlight-color: #f1be32;

    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);

    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background: var(--app-background-color);
    color: var(--secondary-color);

    font-family: var(--font-family);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* doesn't seems to be needed but added */
    justify-content: center;

    margin-top: 10px;
}

.player,
.playlist {
    width: 450px;

    padding: 10px;

    background-color: var(--background-color);

    border: 3px solid var(--foreground-color);
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 10px;

    height: 260px;
}

.player-bar,
.playlist-bar {
    width: 100%;
    height: 30px;

    padding: 0 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* column-gap: 10px; */

    background-color: var(--foreground-color);
}

.parallel-lines {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    row-gap: 5px;

    padding: 0 5px;
}

.parallel-lines div {
    height: 2px;

    width: 100%;
    min-width: 75px;

    background-color: var(--highlight-color);
}

h1 {
    font-size: 1.125rem;
    line-height: 1.6;
}

h2 {
    font-size: var(--font-family);
}

ul {
    margin: 0;
}

.fcc-title {
    font-family: var(--font-headline);
    margin: 0 10px;
}

.playlist-title {
    font-family: var(--font-headline);
    /* margin: 0 10px; */
}

.player-content {
    width: 430px;
    height: 200px;

    padding: 14px;

    display: flex;
    align-items: center;

    column-gap: 17px;

    background-color: var(--foreground-color);
}

#player-album-art {
    border: 6px solid var(--background-color);

    background-color: var(--background-color);
}

#player-album-art img {
    width: 150px;
    display: block;
}

.player-display {
    width: 226px;
    height: 153px;

    padding: 14px;

    display: flex;
    flex-direction: column;

    background-color: var(--background-color);
}

.player-display-song-artist {
    height: 80px;
}

.player-display-song-artist p {
    margin: 0;
}

#player-song-title {
    font-size: 1.125rem;
}

#player-song-artist {
    font-size: 0.85rem;
    color: var(--highlight-color);
}

#player-song-duration {
    font-size: 0.75rem;
}

.player-buttons {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.player-buttons svg {
    fill: var(--secondary-color);
}

button {
    background-color: transparent;
    border: none;

    /* display: flex; */
    text-align: center;
    cursor: pointer;
}

/* playlist */
.playlist {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    /* justify-content: start; */

    row-gap: 10px;

    /* width: 100%; */
}

#playlist-songs {
    padding: 8px 9px;

    height: auto;

    /* width: 430px; */
    /* width: auto; */
    /* width: 100%; */

    list-style: none;

    background-color: var(--foreground-color);
}

#playlist-songs li:not(li:last-child) {
    border-bottom: 1px solid var(--background-color);
}

.playlist-song {
    font-size: var(--root-font-size);

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 55px;
    width: 100%;

    padding: 5px;

    color: var(--primary-color);
}

.playlist-song-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.song-title {
    font-size: 0.85rem;

    width: 221px;

    text-align: left;
}

.song-artist {
    font-size: 0.725rem;
    margin: 0 10px;

    white-space: nowrap;
}

.song-duration {
    font-size: 0.725rem;
    width: 30px;
}

.replay {
    fill: var(--secondary-color);

    /* to align d btn */
    display: flex;
    align-items: center;
}

/* 
.replay:hover circle { 
    fill: var(--background-color);
    background: var(--background-color);
} 
*/

.delete {
    /* to align d btn */
    display: flex;
    align-items: center;
}

.delete:hover circle {
    fill: red;
}

.playing svg {
    fill: var(--highlight-color);
}

/* media query */
@media (max-width: 700px) {
    .player,
    .playlist {
        width: 300px;
    }

    /* .player {
        height: 280px;
    } */

    h1 {
        font-size: 0.8125rem;
        line-height: 0;
    }

    h2 {
        font-size: 0.75rem;
        margin: 0 3px;
    }

    .fcc-title {
        margin: 0 3px;
    }

    .player-bar {
        width: 280px;
        justify-content: center;
        padding: 0 10px;
    }

    .player-content {
        width: 260px;

        /* height: 280px; */
        height: auto;
        /* padding: 5px 6px; */

        display: inline;
        /* flex-direction: column; */

        border: 3px solid green;

        position: relative;
    }

    #player-album-art img {
        width: 100%;

        border: 3px solid green;

        /* display: inline-block; */
    }

    .player-display {
        position: absolute;
        top: 0;
    }
}

/*
    width: 450px;
    height: 260px

    width: 100%;

    width: 430px;
    height: 200px;

    column-gap: 13px;

    border: 6px solid var(--background-color);

    width: 150px;

    height: 80px;

    .playing > svg 

    outline-style: dashed;
    outline-width: 2px;

    height: auto;

    padding: 8px 9px;

    height: 55px;
    padding: 5px;

    column-gap: 7px;
    padding: 5px 0;

    width: 241px;
    text-align: left;

    width: 80px;

    margin: auto;
    width: 30px;

    padding: 0;
    width: 20px;

    height: 280px;
    padding: 5px 6px;

    overflow

    scrollbar-color: var(--background-color) var(--secondary-color);

    display: inline;
    height: 100%;

    #player-album-art {
        height: 280px;

    opacity: 0.6;

    background-color: transparent;


*/
