*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

:root {
    --light-grey: #f5f5f5;
    --dark-blue: #1b1b32;
    --orange: #f1be32;
}

body {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
        monospace;

    background-color: var(--dark-blue);
    color: var(--light-grey);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border: 2px solid white;
}

h1 {
    font-size: 2rem;

    text-align: center;

    margin: 1em 0;
}

/* 

    width: clamp(320px, 50vw, 460px);

 



   font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
        arial, sans-serif;
*/
