html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

#piano {
    width: 992px;
    height: 290px;

    background-color: #00471b;

    margin: 80px auto;

    padding: 90px 20px 0 20px;

    position: relative;

    border-radius: 10px;
}

.logo {
    width: 200px;

    position: absolute;
    top: 23px;
}

.keys {
    width: 949px;
    height: 180px;

    background-color: #040404;

    padding-left: 2px;
}

.key {
    width: 41px;
    height: 175px;

    background-color: #fff;

    position: relative;

    margin: 2px;

    float: left;

    border-radius: 0 0 3px 3px;
}

.key.black--key::after {
    content: "";

    width: 32px;
    height: 100px;

    background-color: #1d1e22;

    position: absolute;
    left: -18px;
}

/* 
#00471b
#040404
#fff
#1d1e22

♥



https://www.youtube.com/watch?v=rWkvbjeR3NE
*/
