html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

#piano {
    width: 992px;
    height: 290px;

    background-color: #00471b;

    margin: 80px auto;
}

/* 
#00471b


*/
