html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

#piano {
    width: 992px;
    height: 290px;

    background-color: #00471b;

    margin: 80px auto;
}

.keys {
    background-color: #040404;
}

/* 
#00471b


https://www.youtube.com/watch?v=rWkvbjeR3NE
*/
