*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;

    --foreground-color: #3b3b4f;
    --background-color: #1b1b32;

    --app-background-color: #4d4d62;
    --highlight-color: #f1be32;

    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);

    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
}

body {
    background-color: var(--app-background-color);
    color: var(--primary-color);
}

.container {
    display: flex;

    flex-direction: column;
    align-items: center;

    /* flex-direction: row; */
    /* justify-content: center; */
}

.player {
    width: 480px;
    padding: 10px;

    background-color: var(--background-color);
}

.player-bar {
    /* d container for 3 items: h1 & 2 parallel-lines containers*/
    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;

    background-color: var(--foreground-color);
}

.parallel-lines {
    /* d container for 2 items: d 2 divs */
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;

    padding: 0 10px;
}

.parallel-lines div {
    height: 2px;
    width: 100%;

    min-width: 75px;

    background-color: var(--highlight-color);
}

.fcc-title {
    font-size: 1.125rem;
    font-family: var(--font-headline);
}
