:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;

    --foreground-color: #3b3b4f;
    --background-color: #1b1b32;

    --app-background-color: #4d4d62;
    --highlight-color: #f1be32;

    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);

    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    /* margin: 0; */
}

body {
    /* border: 3px solid red; */

    /* padding: 10px; */

    background-color: var(--foreground-color);
    color: var(--primary-color);
}

.container {
    padding: 10px;

    /* border: 13px solid orange; */

    display: flex;
    flex-direction: column;
    align-items: center;

    /* justify-content: center; */
    /* width: 480px; */
}

/*
Ths learnt:
1. Wn using flex to center a container, no need for width
*/

.player,
.playlist {
    width: 480px;
    background-color: var(--background-color);
}

.player {
    padding: 10px;

    border: 3px solid yellow;
}

.player-bar {
    padding: 10px;

    border: 3px solid green;
}

.parallel-lines {
    padding: 5px;

    border: 3px solid silver;
}

.parallel-lines div {
    padding: 5px;
    margin: 5px 0;

    border: 3px solid purple;
}

.fcc-title {
    padding: 10px;

    border: 3px solid gold;
}

.player-content {
    padding: 10px;

    border: 3px solid indigo;
}

#player-album-art {
    padding: 10px;

    border: 3px solid brown;
}

#player-album-art img {
    border: 3px solid green;
    width: 75px;
}

.player-display {
    padding: 10px;

    border: 3px solid pink;
}

.player-display-song-artist {
    padding: 10px;

    border: 3px solid olive;
}

#player-song-title {
    padding: 10px;

    border: 3px solid maroon;
}

#player-song-artist {
    padding: 10px;

    border: 3px solid gray;
}

#player-song-duration {
    padding: 10px;

    border: 3px solid gray;
}

.player-buttons {
    padding: 10px;

    border: 3px solid violet;
}

button {
    padding: 10px;

    border: 3px solid red;
}

button svg {
    padding: 10px;

    border: 3px solid green;
}

.playlist {
    padding: 10px;

    border: 3px solid blue;
}

.playlist-bar {
    padding: 10px;

    border: 3px solid yellowgreen;
}

.playlist-title {
    padding: 10px;

    border: 3px solid indigo;
}

#playlist-songs {
    padding: 10px;

    border: 3px solid indianred;
}
