:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;

    --foreground-color: #3b3b4f;
    --background-color: #1b1b32;

    --app-background-color: #4d4d62;
    --highlight-color: #f1be32;

    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);

    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
}

body {
    border: 3px solid red;
}

.container {
    border: 3px solid orange;

    display: flex;
}

.player {
    border: 3px solid yellow;
}

.player-bar {
    border: 3px solid green;
}

.parrallel-lines {
    border: 3px solid silver;
}

.player-content {
    border: 3px solid indigo;
}

.player-album-art {
    border: 3px solid brown;
}
