/*
ASK WHY?????????????????????????

Ths learnt:
1. Wn using flex to center a container, no need for width.

2. As flex-direction: row is to justify-content: center so is
flex-direction: column to align-items: center to center an item.

2. If u think width: 100%; does nt work on a box, increase
it more than 100.

3. U can use width ppty twice in a selector by using min(width).
4. A btn can have background: transparent; and border: none;

5. Impt of box-sizing:
The box-sizing CSS property sets how the total width and height 
of an element is calculated.
    box-sizing: border-box;
    width: 100%;
    border: solid #5B6DCD 10px;
    padding: 5px;

https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing    

6. CSS is all about boxes all along.

7. In case you needed to use borders, use it for most impt containers.
8. Use ROYGBIV for your border colors.
9. Picturize row and column directions.
10. Learn to un(comment) out border(s).

11. Knowing more abt width by cal d actual width and padding.
12. Understand perfectly your website structure (HTML layout).
13. min-width: 75px means width will be 75px and above.
14. max-width: 700px means width will be 700px and below.

15. display: inline means: display d elemts side by side.
16. justify-items: center;
17. box-shadow: none;
18. white-space: pre-wrap;

19. opacity: 0.6;
20. position: relative/absolute.
21. justify-content: start.

22. line-height: The line-height CSS property sets the height of a line 
box. It's commonly used to set the distance between lines of text. 

23. outline-color

24. :focus
25. outline-style: dashed; outline-width: 2px;
26. height: auto;

27. visibility: visible;
28. img as e.g. of inline elemets.
29. media(min/max-width: px) {}

30. ul has an invisible default margin of 16px
31. li has an invisible deault left padding of ......
32. Grping more than 2 selectors together if dy have common ppties.

33. width: 100% means d child elemt shd occupy d whole width
of d parent elemt width.

34. align-items: strecth/start/end/center/
The CSS align-items property sets the align-self value on all direct children as a group. In flexbox, it controls the alignment of items on the cross axis. In grid layout, it controls the alignment of items on the block axis within their grid areas.









*/

:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;

    --foreground-color: #3b3b4f;
    --background-color: #1b1b32;

    --app-background-color: #4d4d62;
    --highlight-color: #f1be32;

    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);

    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: var(--foreground-color);

    color: var(--secondary-color);
    font-family: var(--font-family);
}

h1 {
    font-size: 1.125rem;
    line-height: 1.6;
}

h2 {
    font-size: var(--root-font-size);
}

ul {
    margin: 0;
}

.fcc-title,
.playlist-title {
    color: var(--secondary-color);
    font-family: var(--font-headline);

    margin: 0 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
}

.player,
.playlist {
    width: 450px;
    border: 3px solid var(--foreground-color);
    background-color: var(--background-color);
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    height: 260px;
    padding: 10px;
}

.player-bar,
.playlist-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 30px;
    padding: 0 5px;

    background-color: var(--foreground-color);
}

.parallel-lines {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6px;

    padding: 0 5px;
}

.parallel-lines > div {
    height: 2px;
    width: 100%;
    min-width: 75px;

    background-color: var(--highlight-color);
}

.player-content {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 13px;

    width: 430px;
    height: 200px;

    background-color: var(--foreground-color);
}

#player-album-art {
    background-color: var(--secondary-color);

    border: 5px solid var(--background-color);
}

#player-album-art img {
    display: block;

    width: 150px;
}

.player-display {
    display: flex;
    flex-direction: column;

    width: 226px;
    height: 153px;
    padding: 14px;

    background-color: var(--background-color);
}

.player-display-song-artist {
    height: 80px;
}

.player-buttons svg {
    fill: var(--secondary-color);
}

/* .player-display-song-artist p {
    margin: 0;
} */

#player-song-title {
    font-size: 1.125rem;
}

#player-song-artist {
    font-size: 0.75rem;
    color: var(--highlight-color);
    margin-bottom: 2px;
}

#player-song-duration {
    font-size: 0.7rem;
}

#player-song-title,
#player-song-artist,
#player-song-duration {
    margin: 0;
}

.player-buttons {
    display: flex;
    justify-content: center;
}

button {
    background: transparent;
    border: none;

    cursor: pointer;
    text-align: center;

    font-size: var(--root-font-size);
}

button:focus,
.playlist-song:focus {
    outline-style: dashed;
    outline-width: 2px;
}

.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;

    padding: 10px;
    height: auto;
}

#playlist-songs {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 8px 9px;
    justify-content: start;

    width: 430px;
    height: 100%;

    list-style: none;

    visibility: visible;

    background-color: var(--foreground-color);
}

.playlist-song {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 55px;
    padding: 5px;

    outline-color: var(--highlight-color);
}

.playlist li:not(:last-child) {
    border-bottom: 1px solid var(--background-color);
}

@media (max-width: 700px) {
    .player,
    .playlist {
        width: 300px;
    }

    .player {
        height: 340px;
    }

    #playlist-songs {
        height: 280px;
        padding: 5px 6px;

        overflow-y: scroll;
        overflow-x: hidden;

        scrollbar-color: var(--background-color) var(--secondary-color);
        scrollbar-width: thin;
    }

    h1 {
        font-size: 0.813rem;
    }

    .fcc-title {
        margin: 0 2px;
    }

    h2 {
        font-size: 0.75rem;
    }

    .player-bar,
    .playlist-bar,
    .player-content,
    #playlist-songs {
        width: 280px;
    }

    .playlist-song {
        justify-content: space-between;
    }

    /* .playlist-song-title {
        width: 140px;
    } */

    /* .playlist-song-artist {
        width: 40px;
    } */

    .player-content {
        display: inline;
        justify-items: center;

        position: relative;

        height: 100%;
    }

    #player-album-art {
        height: 280px;

        z-index: -100;

        box-shadow: none;

        background: #000;
    }

    #player-album-art img {
        width: 100%;
        opacity: 0.6;
    }

    .player-display-song-artist {
        padding: 0 10px;
    }

    .player-display-song-artist > p {
        white-space: pre-wrap;
    }

    .player-display {
        position: absolute;
        top: 0;

        justify-content: space-between;
        text-align: center;

        width: 100%;
        height: 280px;

        background: transparent;

        z-index: 100;
    }
}
