.frame {
    border: 50px solid black;

    width: 500px;
    padding: 50px;

    margin: 20px auto;
}

.canvas {
    width: 500px;
    height: 600px;

    background-color: #4d0f00;

    /* padding: 1px; */

    overflow: hidden;
    /* 
        d overflow d req padding occurs due to
        d dimensn of d .one elemt.
    */

    /* border: 5px solid green; */
}

.one {
    width: 425px;
    height: 150px;

    background-color: #efb762;

    margin: 20px auto;

    border: 2px solid black;
}

.two {
    width: 475px;
    height: 200px;

    background-color: #8f0401;

    margin: auto;

    border: 2px solid green;
}
