.frame {
    border: 50px solid #000000;

    width: 500px;

    margin: 20px auto;

    padding: 50px;
}

.canvas {
    width: 500px;
    height: 600px;

    background-color: #4d0f00;

    /* border: 1px solid blue; */

    /* padding: 1px; */

    overflow: hidden;

    filter: blur(2px);
}

.one {
    width: 425px;
    height: 150px;

    background-color: #efb762;

    margin: 20px auto;

    border-radius: 10px;

    box-shadow: 0 0 3px 3px #efb762;

    transform: rotate(-0.8deg);
}

.two {
    width: 480px;
    height: 160px;

    background-color: #8f0401;

    margin: auto;

    box-shadow: 0 0 3px 3px #8f0401;

    border-radius: 5px 5px 5px 5px;

    transform: rotate(0.5deg);
}

.three {
    width: 450px;
    height: 200px;

    margin: 20px auto;

    background-color: #b20403;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    box-shadow: 0 0 3px 3px #b20403;

    transform: rotate(-0.2deg);
}

.one,
.two {
    filter: blur(1px);
}

.three {
    filter: blur(2px);
}
