.wheel {
    border: 5px solid black;

    width: 55vw;
    height: 55vw;
    max-width: 500px;
    max-height: 500px;

    border-radius: 50%;

    border-left: 2px solid transparent;

    margin-left: 50px;

    position: absolute;

    /* animation */
    animation-name: wheel;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
