.wheel {
    border: 2px solid black;

    width: 55vw;
    height: 55vw;
    max-width: 500px;
    max-height: 500px;

    border-radius: 50%;

    margin-left: 50px;

    position: absolute;

    /* animation */
}

@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
