.wheel {
    border: 5px solid black;

    width: 55vw;
    height: 55vw;
    max-width: 50px;
    max-height: 50px;

    border-radius: 70%;

    /* border-top-left-radius: 50%; */
    /* border-top-right-radius: 50%; */
    /* border-bottom-right-radius: 50%; */

    /* border-bottom-left-radius: transparent; */

    border-left: 2px solid transparent;
    /* border-top: 10px solid transparent; */

    margin-left: 50px;

    position: absolute;

    /* animation */

    animation-name: wheel;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes wheel {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
