body {
    background-color: #fdfdfd;
    padding: 0.4rem 0rem;

    color: #333333;

    font-family: Verdana, Tahoma, sans-serif;
}

#main {
    background-color: #f1f1f1;
    padding: 15px;

    border-radius: 5px;

    margin: 1rem 0rem;
}

.author-description {
    text-align: center;
}

#title {
    font-size: 2.5rem;
}

#img-block {
    background-color: #fdfdfd;
}

#img-div {
    margin: 0;

    width: 78%;
    margin: 0 auto;
}

#image {
    max-width: 100%;
    height: 100%;
}

#img-caption {
    padding: 1rem 0;
    text-align: center;
}

#tribute-info {
    width: 50%;

    margin: 0 auto;
}

.tribute-info-heading {
    margin: 2rem auto;

    text-align: center;

    font-weight: 600;
}

.tribute-info-with-date {
    padding: 0 2rem;
}

.tribute-info-with-date li {
    margin-bottom: 1.2rem;

    line-height: 1.6;
}

li span {
    font-weight: 600;
}

.block {
    width: 85%;
    max-width: 550px;
    margin: 0 auto;
}

blockquote {
    font-style: italic;

    /* padding-right: 2rem; */
    margin: 0;

    line-height: 1.6;
}

cite {
    display: block;

    margin: 1rem 0 2rem;
}

.info {
    width: 80%;
    margin: 0 auto;

    font-weight: 600;

    font-size: 1.2rem;
}

.read-further {
    text-align: center;
}
