/* 

Your #image should use max-width and height properties to resize 
responsively, relative to the width of its parent element, without 
exceeding its original size

Your img element should be centered within its parent element



*/

body {
    margin: 0;

    background-color: #f4f5f6;
}

#main {
    background-color: #f4f5f6;
}
