/* 

Your #image should use max-width and height properties to resize 
responsively, relative to the width of its parent element, without 
exceeding its original size

Your img element should be centered within its parent element



*/

body {
    margin: 0;

    background-color: #fdfdfd;
    padding: 1.6rem 0.5rem;
}

#main {
    background-color: #f1f1f1;

    padding: 3rem 0.8rem 2rem;
}

header {
    margin-bottom: 4rem;
}

#img-block {
    background-color: #fdfdfd;

    padding: 1rem 0;
}

#img-div {
    /* margin: 0; */
    width: 80%;
    margin: 0 auto;
}

#image {
    /* max-width: 1200px; */

    height: 100%;

    padding: 0.8rem 0;
}

#img-caption {
    /* display: block; */
    /* border: 2px solid green; */
    /* margin: 1rem 0; */

    text-align: center;

    /* background-color: red; */
}
