:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;
    --app-background-color: #4d4d62;
    --background-color: #1b1b32;
    --foreground-color: #3b3b4f;
    --highlight-color: #f1be32;

    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);

    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--app-background-color);
    color: var(--primary-color);
    font-family: var(--font-family);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
}

.player,
.playlist {
    width: 450px;

    background-color: var(--background-color);

    border: 3px solid var(--foreground-color);

    padding: 10px;
}

h1 {
    font-size: 1.125rem;
    line-height: 1.6;
}

h2 {
    font-size: var(--root-font-size);
}

ul {
    margin: 0;
}

.fcc-title,
.playlist-title {
    font-family: var(--font-headline);
    margin: 0 10px;
}

.player-bar,
.playlist-bar,
.player-content,
#playlist-songs {
    background-color: var(--foreground-color);
}

.player {
    height: 260px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.player-bar,
.playlist-bar {
    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;

    /* justify-content: space-between; */

    padding: 0 5px;
}

.parallel-lines {
    display: flex;
    flex-wrap: wrap;

    row-gap: 6px;

    padding: 0 5px;
}

.parallel-lines > div {
    height: 2px;

    width: 100%;
    min-width: 75px;

    background: var(--highlight-color);
}

.player-content {
    width: 430px;
    height: 200px;

    display: flex;
    justify-content: center;

    align-items: center;
    column-gap: 13px;
}

#player-album-art {
    border: 6px solid var(--background-color);
    background-color: var(--primary-color);
}

#player-album-art img {
    width: 150px;

    display: block;
}

.player-display {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    /* justify-content: space-between; */

    height: 153px;
    width: 226px;

    padding: 14px;

    background-color: var(--background-color);
}

.player-display-song-artist {
    height: 80px;
}

.player-display-song-artist p {
    margin: 0;
}

#player-song-title {
    font-size: 1.125rem;
}

#player-song-artist {
    font-size: 0.75rem;
    color: var(--highlight-color);
}

#player-song-duration {
    font-size: 0.75rem;
}

.player-buttons {
    display: flex;
    justify-content: space-around;
}

.player-buttons svg {
    fill: var(--primary-color);
}

button {
    background: transparent;
    border: none;

    text-align: center;
    font-size: var(--root-font-size);

    cursor: pointer;

    outline-color: var(--highlight-color);
}

button:focus,
.playlist:focus {
    outline-width: 2px;
    outline-style: dashed;
}

.playing > svg {
    fill: var(--highlight-color);
}

/* Playlist */
.playlist {
    height: auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 10px;
}

#playlist-songs {
    height: 100%;
    width: 430px;

    padding: 8px 9px;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: start; */
    row-gap: 8px;

    list-style: none;
}

#playlist-songs li:not(li:last-child) {
    border-bottom: 1px solid var(--background-color);
}

.playlist-song {
    height: 55px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px;
}

[aria-current] {
    background-color: var(--background-color);
}

.playlist-song-info {
    display: flex;
    justify-content: space-around;
    align-items: center;

    column-gap: 10px;

    height: 100%;

    cursor: pointer;
}

.song-title {
    font-size: 0.85rem;
    width: 230px;
}

.song-artist {
    font-size: 0.7rem;
    width: 75px;
}

.song-duration {
    font-size: 0.7rem;
    width: 30px;

    margin: auto;
}

.song-delete,
.song-replay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-replay > svg {
    fill: var(--primary-color);
}

.song-delete:hover circle {
    fill: red;
}

.reset {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */

    padding: 5px;
    height: 30px;
    width: 100%;

    color: var(--primary-color);
}

/* Media Quaries: Responsiveness */
@media (max-width: 700px) {
    .player,
    .playlist {
        width: 300px;
    }

    /* player */
    .player {
        height: 340px;
    }

    .player-bar {
        width: 100%;

        display: flex;
        justify-content: center;
        padding: 0 75px;
    }

    h1 {
        font-size: 0.8125rem;
        line-height: 0;
    }

    h2 {
        font-size: 0.75rem;
    }

    .player-content {
        position: relative;

        height: 280px;
        width: 280px;

        display: inline;
    }

    #player-album-art {
        background: #000;
    }

    #player-album-art img {
        width: 100%;

        opacity: 0.6;
    }

    .player-display {
        position: absolute;
        top: 0;

        background: transparent;

        height: 280px;
        width: 280px;

        justify-content: space-between;
    }

    .player-display-song-artist {
        text-align: center;
        padding: 0 10px;
    }

    #player-song-duration {
        font-weight: 800;
    }

    /* playlist */
    .playlist-title {
        margin: 0 5px;
    }

    .fcc-title {
        margin: 0 2.5px;
        padding: 0;
    }

    #playlist-songs {
        height: 280px;
        width: 280px;

        overflow-y: scroll;
        overflow-x: hidden;
    }

    .playlist-song {
        width: 100%;
    }

    .song-title {
        width: 130px;
    }

    .song-artist {
        width: 10px;
        margin-right: 25px;
    }

    .song-replay {
        padding: 1px 0;
    }
}
