html {
    box-sizing: border-box;
}

body {
    font-size: 16px;

    color: #0a0a23;

    font-family: sans-serif;
}

section {
    border: 2px solid #d0d0d5;

    width: 40rem;
    margin: 0 auto;
}

h1 {
    width: 40rem;

    margin: 0 auto;

    padding: 0rem 1rem;
    /* border: 2px solid green; */
}

.flex {
    display: flex;
    flex-direction: column-reverse;

    gap: 1rem;

    margin: 1.5rem 0;
}

.flex span:first-of-type {
    font-size: 1rem;
}

h1 .flex span:last-of-type {
    font-size: 1.8rem;
}

#years {
    display: flex;
    justify-content: flex-end;

    background-color: #0a0a23;
    color: #fff;

    padding: 0.5rem;

    margin: 0 -2px;

    font-weight: bold;

    /* border: 2px solid green; */
}

.year {
    width: 4rem;
}

table {
    /* width: 38rem; */
    width: 100%;
    /* margin: 0 auto; */

    /* margin: 1.5rem 0.75rem; */

    position: relative;
}

.sr-only {
    width: 1px;
    height: 1px;

    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);

    overflow: hidden;
    white-space: nowrap;

    position: absolute;
    top: 0;

    margin: -1px;
}

tr.data {
    background-image: linear-gradient(
        to bottom,
        #dfdfe2 1.845rem,
        #fff 1.845rem
    );
}

tr th {
    width: calc(100% - 12rem);

    border: 2px solid green;

    /* background-color: #dfdfe2; */
}

tr.data th {
    text-align: left;
    border: 2px solid green;

    width: 100%;
}

tr.data .description {
    font-weight: normal;

    display: block;
    font-style: italic;

    /* margin: 0.5rem 0; */

    /* border: 2px solid red; */

    margin-right: -13.5rem;

    width: 25rem;
}

tr.data td {
    width: 100vw;
    /* width: 100%; */

    min-width: 4rem;
    max-width: 4rem;
}

tr td {
    /* border: 2px solid red; */
    text-align: right;

    vertical-align: top;
}
