html {
    box-sizing: border-box;
}

body {
    color: #0a0a23;

    font-family: sans-serif;

    background-color: #fafafa;
}

span[class~="sr-only"] {
    width: 1px !important;
    height: 1px !important;

    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;

    overflow: hidden !important;
    white-space: nowrap !important;

    padding: 0 !important;
    margin: -1px !important;
}

section {
    width: 40rem;
    margin: 0 auto;

    border: 2px solid #d0d0d5;
}

h1 {
    width: 36rem;

    margin: 0 auto;

    padding: 1.4rem 0;
}

.flex {
    display: flex;
    flex-direction: column-reverse;

    gap: 1rem;
}

h1 .flex span:first-of-type {
    font-size: 0.7em;
}

h1 .flex span:last-of-type {
    font-size: 1.2em;
}

#years {
    background-color: #0a0a23;
    color: #fff;

    font-weight: bold;

    padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;
    margin: 0 -2px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    text-align: right;

    position: sticky;
    top: 0;

    z-index: 999;
}

#years span[class] {
    width: 4.5rem;
}

tr.data td:last-of-type {
    padding-right: 0.5rem;

    border: 2px solid red;
}

.table-wrap {
    padding: 0.5rem 0.65rem;
}

table {
    width: 100%;

    border-collapse: collapse;
    border: 0;

    margin-top: 2rem;
    margin-bottom: 2.5rem;

    position: relative;

    /* border: 3px solid green; */
    /* padding: 3rem; */
}

table:last-of-type {
    margin-bottom: 1.5rem;
}

table caption {
    color: #356eaf;

    font-size: 1.25rem;

    position: absolute;

    top: -25px;
    left: 8px;
}

tbody tr.data {
    background-image: linear-gradient(
        to bottom,
        #dfdfe2 1.845rem,
        #fff 1.845rem
    );
}

tr.data th {
    /* margin-bottom: 15px; */
    padding: 0.25rem 0.5rem;
}

tr.data th {
    width: calc(100% -12rem);
    text-align: left;

    /* margin-right: 13.5rem; */
}

tr.data th .description {
    display: block;

    padding: 1.2rem 0 0.75rem;

    margin-right: -13.5rem;

    font-style: italic;
    font-weight: normal;

    /* border: 3px solid red; */
}

tbody td {
    width: 100vw;

    min-width: 3.6rem;
    max-width: 3.6rem;
}

tr.data td {
    /* border: 3px solid green; */
    vertical-align: top;

    text-align: right;
    padding: 0.25rem 0.5rem 0 0rem;
}

tr[class="total"] td {
    text-align: right;
    padding: 0.25rem 0.5rem;
}

tr[class="total"] {
    border-bottom: 4px double #000;

    font-weight: bold;

    /* padding: 5px; */
    /* height: 10px; */
}

tr.total:hover {
    background-color: #99c9ff;
}

tr[class="total"] th {
    text-align: left;
    padding-left: 0.25rem;
}

tr td:nth-of-type(3) {
    /* border: 2px solid green; */

    font-style: italic;
}
