html {
    box-sizing: border-box;
}

body {
    color: #0a0a23;

    font-family: sans-serif;

    background-color: #fafafa;
}

section {
    width: 40rem;
    margin: 0 auto;

    border: 2px solid #d0d0d5;

    padding: 1rem 0.75rem;
}

h1 {
    width: 42rem;

    margin: 0 auto;

    padding: 1rem 0.75rem;
}

.flex {
    display: flex;
    flex-direction: column-reverse;

    gap: 1rem;
}

h1 .flex span:first-of-type {
    font-size: 0.7em;
}

h1 .flex span:last-of-type {
    /* border: 3px solid green; */
    font-size: 1.2em;
}

#years {
    background-color: #0a0a23;
    color: #fff;

    padding: 0.5rem;

    display: flex;
    justify-content: flex-end;
}
