/*

.gallery {
    width: 50%;

    border: 5px solid red;
}

img {
    width: 100%;

    padding: 15px;

    border: 5px solid blue;
}


*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: sans-serif;
    background-color: #f5f6f7;
}

.header {
    text-align: center;
    /*
        ds can be applied on a container so as to affect
        its children.
    */

    text-transform: uppercase;

    padding: 32px;

    background-color: #0a0a23;
    color: #ffffff;
    border-bottom: 4px solid #fdb347;
}

.gallery {
    display: flex;
    /* 
        ds gives the flex items d ability to takes up d whole row and
        hence each flex item is displayed like a block elemt.
    */

    flex-direction: row;

    flex-wrap: wrap;
    /* 
        flex-wrap: makes your flex items wrap to the next row when they 
        run out of space.
    */

    justify-content: center;
    /* 
        ds affects d distribution of space in d .gallery container.

        d container was used to centralize d items even without setting 
        width. 
    */

    align-items: center;

    gap: 16px;

    max-width: 1400px;
    margin: 0 auto;
    /* 
        centralize d .gallery items.
        
        d flex-items r in d middle bcos of d flex ppty, 
        justify-content: center;
    */

    padding: 20px 10px;
}

.gallery::after {
    content: "";

    width: 350px;
}

.gallery img {
    height: 300px;

    width: 100%;
    max-width: 350px;
    /* 
        If the value for width is greater than the value for max-width, 
        then max-width overrides width.
    */

    object-fit: cover;

    border-radius: 10px;
}
