body {
    margin: 0;

    color: #f5f6f7;

    font-family: sans-serif;
}

.header {
    text-transform: uppercase;
    text-align: center;

    padding: 30px;

    background-color: #0a0a23;
    border-bottom: 4px solid #fdb347;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    flex-direction: row;

    justify-content: center;

    /* ds gives an overflow */
    /* width: 100vw; */

    height: 100vh;

    max-width: 1400px;
    margin: 20px auto;

    /* padding-bottom: 50px; */

    background-color: #ffffff;
}

.gallery::after {
    content: "";
    width: 350px;
}

.gallery img {
    width: 100%;
    max-width: 350px;

    height: 300px;

    object-fit: cover;

    border-radius: 10px;
}
