body {
    margin: 0;

    color: #f5f6f7;

    font-family: sans-serif;
}

.header {
    text-transform: uppercase;
    text-align: center;

    padding: 30px;

    background-color: #0a0a23;
    border-bottom: 4px solid #fdb347;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    flex-direction: row;

    /* ds align d items inside d container to center */
    justify-content: center;

    /* ds gives an overflow */
    /* width: 100vw; */

    /* ds hinders d effect margin-bottom: 20px */
    /* height: 100vh; */

    /* ds align d container at d max-width specified */
    max-width: 1400px;
    margin: 20px auto;

    background-color: #ffffff;

    /* border: 2px solid green; */
}

.gallery::after {
    content: "";
    width: 350px;
}

.gallery img {
    width: 100%;
    max-width: 350px;

    height: 300px;

    object-fit: cover;

    border-radius: 10px;
}
