:root {
    --dark-grey: #0a0a23;
    --light-grey: #f5f6f7;
    --white: #ffffff;
    --black: #000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    color: var(--light-grey);

    background-color: var(--black);
}

.title {
    text-align: center;
}

h1 {
    margin: 1em 0;
}

main {
    width: 90%;
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
}

.team-stats {
    display: flex;
    justify-content: space-between;

    margin: 1em 0 2em 0;

    font-size: 1.2rem;
}

.options-label {
    display: block;

    font-size: 1.5rem;

    margin-bottom: 2em;
}

.btn-container {
    margin-bottom: 4em;
}

.btn-container button {
    margin-right: 1em;
}

button {
    padding: 0.5em 1em;
}

#player-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 3em;

    margin-bottom: 2em;
}

.player-card {
    width: 18.75em;

    color: var(--dark-grey);

    padding: 1em;

    border-radius: 12px;
    background-color: var(--white);

    text-align: center;
}

.player-card * {
    margin-bottom: 1em;
}

footer {
    margin-bottom: 2em;
}

@media (min-width: 680px) {
    .team-stats {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-stats * {
        margin-bottom: 0.8em;
    }

    .options-label,
    .btn-container,
    footer {
        text-align: center;
    }
}
