body {
    margin: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    justify-content: center;
    gap: 5%;

    width: 70%;
    height: 50%;
    padding: 1rem;

    border: 3px solid red;
}

.container {
    border: 3px solid green;

    width: 350px;

    padding: 0.5rem;

    font-size: 0.8rem;
}

h1 {
    margin: 0;
}

@media (max-width: 470px) {
    .main {
        display: block;

        background-color: red;
    }
}

@media (min-width: 480px) {
    .container {
        padding: 2.5rem;
        border: 5px solid purple;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
