body {
    margin: 0;
}

.main {
    display: flex;
    gap: 5%;

    padding: 2.5rem;
}

.container {
    border: 3px solid green;

    width: 40%;
    margin: 3.125rem auto 0;

    padding: 2.5rem 0.625rem;
}

@media (min-width: 480px) {
    .container {
        padding: 2.5rem;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
