.container {
    width: 90%;
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
}

.box {
    display: flex;
}

.icon {
    width: 20px;
    height: 20px;
}

.plus-icon,
.cart-icon,
.minus-icon {
    width: 15px;
    height: 15px;

    font-weight: bold;
}
