*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f3f7;

    font-family: "Poppins", sans-serif;
}

.container {
    width: 90%;
    max-width: 1100px;

    margin-left: auto;
    margin-right: auto;
}

.box {
    display: flex;

    justify-content: space-between;

    column-gap: 2rem;

    margin: 4em 0;
}

.search-input {
    width: 100%;

    height: 3em;

    padding: 12px 20px;
    margin-bottom: 2em;

    color: #60697b;

    font-size: 1rem;
    font-weight: 600;

    border-radius: 0.4rem;

    border: 1px solid rgba(8, 60, 130, 0.07);
}

.left-container {
    /* border: 2px solid red; */

    width: 50%;
}

.inner-box {
    height: 39em;
    overflow-y: scroll;
}

.right-container {
    border: 2px solid blue;

    width: 50%;

    padding: 0.5em 0;

    /* background-color: #fefefe; */
}

.item {
    margin-bottom: 2em;

    /* padding: 0.8em; */

    padding: 0.5em 0.8em;

    border-radius: 0.4rem;

    /* border-bottom: 1px solid rgba(8, 60, 130, 0.07);
     */

    /* border: 2px solid red; */
    background-color: #fefefe;
}

.item h2 {
    font-size: 15px;

    font-weight: 700;

    width: 60%;
    /* text-wrap: wrap; */

    margin-bottom: 1em;
}

.details-icons {
    display: flex;

    justify-content: space-between;
    /* align-items: flex-end; */
}

.details {
    display: flex;
    /* align-items: flex-end; */

    /* justify-content: space-between; */
}

.details * {
    font-size: 12px;
    margin: 0.2em;
}

.details *:first-child {
    margin-left: 0;
}

.svg-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* border: 2px solid red; */
}

.item-input {
    width: 3.5em;

    text-align: center;
    /* justify-self: center; */
    /* align-self: center; */
    /* border: 2px solid green; */
}

.icon {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.plus-icon,
.cart-icon,
.minus-icon {
    width: 15px;
    height: 15px;

    font-weight: bold;
}

.icon:last-of-type {
    border: 2px solid green;
}
