*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
}

.box {
    display: flex;
}

.left-container {
    border: 2px solid red;
}

.right-container {
    border: 2px solid blue;
}

.icon {
    width: 20px;
    height: 20px;
}

.plus-icon,
.cart-icon,
.minus-icon {
    width: 15px;
    height: 15px;

    font-weight: bold;
}
