body {
    background-color: black;

    color: #fff;
}

.title-container {
    border: 2px solid red;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-right: 8px;
}

.date-svg {
    width: 30px;
    height: 30px;
}

.icon {
    fill: white;
}
