/*
Consider d effect of this:

*,
*::before,
*::after {
    box-sizing: border-box;
}


Note d width in both .frame and .canvas r of d same value.
*/

.frame {
    border: 50px solid black;

    width: 500px;

    padding: 50px;

    margin: 20px auto;
}

.canvas {
    width: 500px;

    height: 600px;

    background-color: #4d0f00;

    /* padding: 1px; */

    overflow: hidden;
    /* 
        d overflow dt requires padding occurs due to
        d dimensn (height) of d .one elemt.
    */
}

.one {
    width: 425px;
    height: 150px;

    background-color: #efb762;

    margin: 20px auto;

    box-shadow: 0 0 3px 3px #efb762;

    border-radius: 9px;

    transform: rotate(-0.6deg);
}

.two {
    width: 475px;
    height: 200px;

    background-color: #8f0401;

    margin: 0 auto 20px;

    box-shadow: 0 0 3px 3px #8f0401;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    transform: rotate(0.4deg);
}

.three {
    width: 91%;
    height: 28%;

    background-color: #b20403;

    margin: auto;

    box-shadow: 0 0 5px 5px #8f0401;

    border-radius: 30px 25px 60px 12px;

    transform: rotate(-0.2deg);
}

.one,
.two {
    filter: blur(1px);
}

.three {
    filter: blur(2px);
}
