body {
    width: 100%;
    height: 100vh;

    background-color: #1b1b32;

    color: #f5f6f7;

    margin: 0;

    font-family: Tahoma, sans-serif;
    font-size: 16px;
}

label {
    display: block;

    margin: 0.5rem 0;

    /* border: 3px solid green; */
}

h1,
p {
    /* margin: 1em 0; */

    margin: 1em auto;
    text-align: center;
}

form {
    margin: 0 auto;

    min-width: 300px;

    width: 60vw;

    max-width: 500px;

    padding-bottom: 2em;
}

fieldset {
    border: none;
    border-bottom: 3px solid #3b3b4f;

    padding: 2rem 0;
}

fieldset:last-of-type {
    border-bottom: none;
}

input,
select,
textarea {
    width: 100%;

    margin: 10px 0 0;

    height: 2em;
}

input,
textarea {
    color: #ffffff;
    background-color: #0a0a23;

    border: 1px solid #0a0a23;
}

.inline {
    width: unset;

    margin: 0 0.5em 0 0;
    vertical-align: middle;
    /* vertical-align: baseline; */
}

input[type="submit"] {
    display: block;

    width: 60%;
    min-width: 300px;
    min-height: 2em;

    margin: 1em auto;

    font-size: 1.1rem;

    background-color: #3b3b4f;
    border-color: #fff;
}

input[type="file"] {
    padding: 1px 2px;
}

label a {
    color: #dfdfe2;
}
