/* 
    N.B: Ask why some common CSS ppties that goes along with each other
    were not used.
    E.g: 
    1. Y padding: 5px; was used instead of padding: 0 5px;


    New css features i learnt:
    1. visibility
    2. row/column gap
    3. outline-color
    4. outline-style
    5. outline-width

    6. -webkit-scrollbar 
    7. -webkit-scrollbar-track
    8. -webkit-scrollbar-thumb 

    9. box-shadow
    10. justify-items: center;
*/

:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;

    --foreground-color: #3b3b4f;
    --background-color: #1b1b32;

    --app-background-color: #4d4d62;
    --highlight-color: #f1be32;

    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);

    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    background: var(--app-background-color);

    font-family: var(--font-family);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;
}

.player,
.playlist {
    width: 450px;

    padding: 10px;

    background: var(--background-color);
    border: 3px solid var(--foreground-color);
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.player-bar,
.playlist-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 5px;
    height: 30px;
    width: 100%;

    background-color: var(--foreground-color);
}

.parallel-lines {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;

    padding: 0 5px;
}

.parallel-lines > div {
    height: 2px;

    width: 100%;
    min-width: 75px;

    background: var(--highlight-color);
}

h1 {
    margin: 0 10px;

    font-size: 1.125rem;
    line-height: 1.6;
}

h2 {
    font-size: var(--root-font-size);
}

.fcc-title,
.playlist-title {
    font-family: var(--font-headline);
}

ul {
    margin: 0;
}

.player-content {
    width: 430px;

    background: var(--foreground-color);

    padding: 16px;

    display: flex;

    /* ds is impt for display: block to achieve wt is intended for d img */
    align-items: center;

    justify-content: space-around;

    column-gap: 14px;
}

#player-album-art {
    border: 4px solid var(--background-color);

    background: var(--secondary-color);
}

#player-album-art img {
    display: block;

    width: 150px;
}

.player-display {
    width: 235px;
    height: 150px;

    padding: 12px;

    color: var(--primary-color);

    background: var(--background-color);

    display: flex;
    flex-direction: column;

    row-gap: 20px;
}

.player-display-song-artist {
    height: 75px;
}

.player-display-song-artist p {
    margin: 0;
}

#player-song-title {
    font-size: 1.2rem;
}

#player-song-artist,
#player-song-duration {
    color: var(--highlight-color);
}

#player-song-artist {
    font-size: 0.75rem;
}

#player-song-duration {
    font-size: 0.75rem;
}

.player-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-buttons svg {
    fill: var(--secondary-color);
}

button {
    background: transparent;
    border: none;

    color: var(--primary-color);
    outline-color: var(--highlight-color);

    text-align: center;
    cursor: pointer;

    font-size: var(--root-font-size);
}

.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

#playlist-songs {
    background: var(--foreground-color);
    list-style: none;

    padding: 8px 5px;
    cursor: pointer;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#playlist-songs li:not(:last-child) {
    border-bottom: 1px solid var(--background-color);
}

[aria-current="true"] {
    background-color: var(--background-color);
}

#reset {
    display: block;
    width: 100%;
}

.playing > svg {
    fill: var(--highlight-color);
}

button:focus,
.playlist-song:focus {
    outline-style: dashed;
    outline-width: 2px;
}

.playlist-song {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 55px;

    padding: 5px;
}

.playlist-song-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    column-gap: 5px;

    width: 100%;

    outline-color: var(--highlight-color);
}

.playlist-song-title {
    width: 100%;
    min-width: 170px;

    font-size: 0.85rem;

    display: flex;
    justify-content: space-between;
}

.playlist-song-artist {
    width: 135px;
    padding: 0 5px;
    text-align: center;

    font-size: 0.725rem;
}

.playlist-song-duration {
    font-size: 0.725rem;
    text-align: center;

    width: 35px;

    padding: 4px 6px;
}

.playlist-replay-btn {
    height: 30px;
}

.playlist-replay-btn svg {
    fill: var(--secondary-color);

    width: 18px;
    height: 15px;
}

.playlist-delete-btn:hover circle {
    fill: red;
}

@media (max-width: 700px) {
    .player,
    .playlist {
        width: 300px;
    }

    h1 {
        font-size: 0.75rem;
        margin: 0 5px;
    }

    .player-content {
        width: 280px;

        background: transparent;
        display: inline;

        padding: 0px;

        position: relative;
    }

    .player-album-art {
        z-index: -100;

        background: var(--app-background-color);
    }

    #player-album-art img {
        opacity: 1;
        width: 100%;
        z-index: 100;
    }

    .player-display {
        position: absolute;
        top: 0;

        background: transparent;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        height: 280px;
        width: 100%;
    }

    .player-display-song-artist {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80px;
    }

    .player-display-song-artist p:first-child {
        width: 100%;

        text-align: center;
    }

    #player-song-title {
        width: 200px;
    }

    #player-song-artist {
        font-size: 0.75rem;
        color: var(--highlight-color);
    }

    #player-song-duration {
        font-size: 0.75rem;
    }

    .player-buttons {
        justify-content: space-between;
    }

    #playlist-songs {
        height: 250px;
        overflow-y: scroll;
        overflow-x: hidden;

        scroll-behavior: smooth;
    }

    .playlist-song {
        width: 100%;
    }

    .playlist-title {
        font-size: 0.75rem;
        margin: 0 10px;
    }

    .playlist-song-title {
        min-width: 135px;
    }

    .playlist-song-artist {
        width: 40px;
    }

    .playlist-song-duration {
        width: 30px;
    }

    .playlist-replay-btn {
        padding: 7px 0;
    }
}
