:root {
    --light-grey: #f5f6f7;
    --light-pink: #ffadad;
    --light-green: #acd157;
    --light-yellow: #fecc4c;

    --fcc-blue: #1b1b32;

    --dark-blue: #0a0a23;
    --dark-red: #850000;
    --dark-yellow: #feac32;

    font-size: 62.5%;
}

body {
    background-color: var(--fcc-blue);

    color: var(--light-grey);
    font-family: Lato, Arial, Helvetica, sans-serif;

    font-size: 1.8rem;
}

.container {
    width: 90%;
    max-width: 680px;
}

h1,
.container,
.output {
    margin: 20px auto;
}

h1 {
    text-align: center;
}

label,
legend {
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-direction: column;
}

button {
    background-color: var(--light-yellow);
    border: 2px solid var(--dark-yellow);

    cursor: pointer;
    text-decoration: none;
}

input,
select,
button {
    min-height: 24px;
    color: var(--dark-blue);
}

label,
fieldset,
input,
select,
button {
    margin-bottom: 10px;
}

.output {
    border: 2px solid var(--light-grey);
    padding: 10px;

    text-align: center;
}

.hide {
    display: none;
}

.output span {
    font-weight: bold;
    font-size: 1.2em;
}

.surplus {
    color: var(--light-pink);
}

.deficit {
    color: var(--light-green);
}
