:root {
    --light-grey: #f5f6f7;
    --light-pink: #ffadad;
    --light-green: #acd157;
    --light-yellow: #fecc4c;

    --fcc-blue: #1b1b32;

    --dark-blue: #0a0a23;
    --dark-red: #850000;
    --dark-yellow: #feac32;

    font-size: 62.5%;
}

body {
    background-color: var(--fcc-blue);

    color: var(--light-grey);
    font-family: Lato, Arial, Helvetica, sans-serif;

    font-size: 1.8rem;
    /* font-weight: bold; */
}

.container {
    /* width: 80%; */
    width: 90%;
    max-width: 680px;
}

h1,
.container,
/* .controls, */
.output {
    /* margin: 10px auto; */
    margin: 20px auto;
}

h1
/* .output  */ {
    text-align: center;
}

/* =================== */
label,
legend {
    font-weight: bold;
}

.input-container {
    display: flex;
    flex-direction: column;
}
/* =================== */

/* fieldset {
    margin: 10px 0;
} */

/* input,
select,
button {
    height: 25px;
} */

button {
    /* border-color: var(--dark-yellow); */
    /* background-color: #fecc4c; */

    background-color: var(--light-yellow);
    border: 2px solid var(--dark-yellow);

    cursor: pointer;
    text-decoration: none;
}

button,
input,
select {
    min-height: 24px;
    color: var(--dark-blue);
}

label,
input,
fieldset,
select,
button {
    margin-bottom: 10px;
}

.output {
    border: 2px solid var(--light-grey);
    padding: 10px;
    text-align: center;
}

.surplus {
    color: var(--light-pink);
}

.deficit {
    color: var(--light-green);
}
