html {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
}

.cat-head {
    width: 200px;
    height: 200px;

    border-radius: 46%;

    background: linear-gradient(#5e5e5e 85%, #45454f 100%);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}
