*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: blue;
    color: #fff;
}

.bold {
    font-weight: 500;

    font-size: 1.6rem;
}

.container {
    width: 600px;

    border: 2px solid green;

    margin: 3.125rem auto;
}

.form-group {
    border: 1px solid white;

    height: 200px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
