/* 

1. 
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

2. 
gap

3. 
margin: auto

4.
What effect will border has on this?

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 2px solid red;

}

*/
