/* 
CSS:
1. 
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

2. 
Gap: 
The gap CSS shorthand property sets the gaps (also called gutters) 
between rows and columns. This property applies to multi-column, 
flex, and grid containers.


3. 
margin: auto

4.
What effect will border has on this?

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 2px solid red;
}

5.
Why use 100% for font?
font-size: 100%;


JS:
1.


2.


3.


*/
