/* 
CSS:
1. 
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

2. 
Gap: 
The gap CSS shorthand property sets the gaps (also called gutters) 
between rows and columns. This property applies to multi-column, 
flex, and grid containers.

This property is a shorthand for the following CSS properties:
column-gap
row-gap

The visible space between elements may differ from the provided gap 
value because margins, padding, and distributed alignment may increase 
the separation between elements beyond what is determined by gap.

The visible space between elements may differ from the provided gap 
value because margins, padding, and distributed alignment may 
increase the separation between elements beyond what is determined 
by gap.


3. 
margin: auto
auto:
The browser selects a suitable margin to use. For example, in certain 
cases this value can be used to center an element.


4.
What effect will border has on this?

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 2px solid red;
}

5.
Why use 100% for font?
font-size: 100%;


JS:
1.


2.


3.


*/
