*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    border: 2px solid red;
}

:root {
    --dark-grey: #0a0a23;
    --white: #ffffff;
    --yellow: #f1be32;
}

body {
    color: var(--white);
    background-color: var(--dark-grey);
}

.title-container {
    margin: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* column-gap: 8px; */

    border: 2px solid red;
}

.title {
    font-size: 2.5rem;
}

.date-svg {
    width: 30px;
    height: 30px;
}

.divider {
    margin: auto;

    width: 150px;
    height: 10px;

    background-color: var(--yellow);
}

.dropdown-container {
    position: relative;

    width: 50%;
    margin: 40px auto;
}

select {
    display: block;
    margin: 20px auto 0;

    width: 100%;
    height: 50px;

    /* why use 100% for font? */
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;

    background-color: var(--white);
    border: none;

    color: var(--dark-grey);
    appearance: none;

    padding: 10px;
    padding-right: 38px;

    transition: color 0.3s ease, background-color 0.3s ease,
        border-bottom-color 0.3s ease;

    border: 3px solid green;
}
