*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-grey: #0a0a23;
    --white: #ffffff;
    --yellow: #f1be32;
}

body {
    color: var(--white);
    background-color: var(--dark-grey);
}

.title-container {
    margin: 10px 0;

    border: 2px solid red;
}
