body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;

    /* margin: 8px; */
    padding: 20px;
}

.menu {
    width: 80%;
    max-width: 500px;

    background-color: burlywood;

    padding: 20px;
    margin: 0 auto;
}

/* h1, .established {
    text-align: center;
} */

h1,
h2,
p {
    text-align: center;
}

h1 {
    margin-top: 0;
    margin-bottom: 15px;

    font-size: 40px;
}

.established {
    font-style: italic;
}

hr {
    height: 3px;
    background-color: brown;
    border-color: brown;
}

h1,
h2 {
    font-family: Impact, serif;
}

h2 {
    /* text-align: center; */
    font-size: 30px;
}

img {
    display: block;
    margin: -25px auto 0;
}

.item p {
    display: inline-block;
    width: 50%;

    margin: 5px 0;
    font-size: 18px;
}

.item p:first-child {
    /* or: .price {} */
    text-align: left;
}

.item p:last-child {
    /* or: .flavor, .dessert {}*/
    text-align: right;
}

/* hr:last-of-type {  ds didn't work but d class selector .bottom-line worked
    margin-top: 25px;
} */

.bottom-line {
    margin-top: 25px;
}

footer {
    font-size: 14px;
    /* text-align: center; */ /* bcos text align: center; has been applied to p element above*/
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: brown;
}

a:active {
    color: brown;
}

footer .address {
    margin-bottom: 5px;
}
