:root {
    --light-grey: #f5f6f7;
    --dark-blue: #0a0a23;
    --fcc-blue: #1b1b32;
    --light-yellow: #fecc4c;
    --dark-yellow: #feac32;
    --light-pink: #ffadad;
    --dark-red: #850000;
    --light-green: #acd157;

    font-size: 62.5%;
}

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 1.8rem;

    background-color: var(--dark-blue);
    color: var(--light-grey);
}

.container {
    width: 90%;
    max-width: 680px;
}

h1 {
    text-align: center;
}

h1,
.container,
.output {
    margin: 20px auto;
}

.input-container {
    display: flex;
    flex-direction: column;
}

label,
input,
fieldset,
select,
button {
    margin-bottom: 10px;
}

label,
fieldset {
    font-weight: bold;
}

input,
select,
button {
    min-height: 2.4rem;
    color: var(--fcc-blue);
}

button {
    border: 2px solid var(--dark-yellow);

    background-color: var(--light-yellow);
    cursor: pointer;
}

.output {
    border: 2px solid var(--light-grey);
    padding: 10px;
    text-align: center;
}

.hide {
    display: none;
}

.output span {
    font-weight: bold;
    font-size: 1.2em;
}

.surplus {
    color: var(--light-pink);
}

.deficit {
    color: var(--light-green);
}
