* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Open Sans", sans-serif;
}

.label {
    border: 2px solid #888989;

    width: 270px;
    margin: 20px auto;

    padding: 0 7px;
}

header .title {
    margin: -4px 0;

    letter-spacing: 0.15px;
}

p {
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.calories-info {
    display: flex;

    align-items: flex-end;
    justify-content: space-between;
}

.calories-info h2 {
    margin: 0;
}

.calories-info p {
    font-size: 2em;

    font-weight: 700;
}

/* re-usable classes */
.divider {
    border-bottom: 1px solid #2b2a2a;

    margin: 2px 0;
}

.large {
    background-color: #2b2a2a;

    border: none;
}

.large {
    height: 10px;
}

.bold {
    font-weight: 800;
}

.small-text {
    font-size: 0.85rem;
}
