* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: "Open Sans", sans-serif;
}

.label {
    border: 2px solid #888989;

    width: 270px;
    margin: 20px auto;

    padding: 0 7px;
}

header .title {
    margin: -4px 0;

    text-align: center;
    letter-spacing: 0.15px;
}

p {
    margin: 0;

    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
}

.calories-info {
    display: flex;

    justify-content: space-between;
    align-items: flex-end;
}

.calories-info h2 {
    margin: 0;
}

.left-container p {
    font-size: 2em;
    font-weight: 700;

    margin: -5px -2px;
}

.calories-info span {
    font-size: 2.4em;
    font-weight: 700;

    margin: -7px -2px;
}

.daily-values p:not(.no-divider) {
    border-bottom: 1px solid #2b2a2a;
    /* padding: 2px 0; */
}

.right {
    justify-content: flex-end;
}

/* re-usable classes */
.divider {
    border-bottom: 1px solid #2b2a2a;

    margin: 2px 0;
}

.medium,
.large {
    background-color: #2b2a2a;

    border: none;
}

.large {
    height: 10px;
}

.medium {
    height: 5px;
}

.bold {
    font-weight: 800;
}

.small-text {
    font-size: 0.85rem;
}

.indent {
    margin-left: 1em;
}

.double-indent {
    margin-left: 2em;
}

.notes {
    font-size: 0.6rem;

    margin: 5px 0;
    padding: 0 8px;

    text-indent: -8px;
}
