:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;

    --foreground-color: #3b3b4f;
    --background-color: #1b1b32;

    --app-background-color: #4d4d62;
    --highlight-color: #f1be32;

    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);

    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: var(--app-background-color);

    color: var(--secondary-color);
}

.container {
    display: flex;

    flex-direction: column;

    /* justify-content: center; */
    align-items: center;

    margin-top: 10px;
}

.player,
.playlist {
    width: 450px;

    padding: 10px;
    background: var(--background-color);
    border: 3px solid var(--foreground-color);
}
