:root {
    /* colors */
    --primary-color: #dfdfe2;
    --secondary-color: #ffffff;

    --foreground-color: #3b3b4f;
    --background-color: #1b1b32;

    --app-background-color: #4d4d62;
    --highlight-color: #f1be32;

    /* font sizes */
    --root-font-size: 16px;
    font-size: var(--root-font-size);

    /* font-families */
    --font-headline: "Roboto Mono", monospace;
    --font-family: "Lato", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    color: var(--secondary-color);
    background: var(--app-background-color);

    font-family: var(--font-family);
}

.container {
    display: flex;

    flex-direction: column;

    /* justify-content: center; */
    align-items: center;

    margin-top: 10px;
}

.player,
.playlist {
    width: 450px;

    padding: 10px;
    background: var(--background-color);
    border: 3px solid var(--foreground-color);
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    row-gap: 10px;
    /* border: 3px solid red; */
}

.player-bar,
.playlist-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 5px;
    height: 30px;

    background-color: var(--foreground-color);
}

.parallel-lines {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;

    padding: 0 5px;
}

.parallel-lines > div {
    height: 2px;

    width: 100%;
    min-width: 75px;

    background: var(--highlight-color);
}

h1 {
    margin: 0 10px;

    font-size: 1.125rem;
    line-height: 1.6;
}

.player-content {
    width: 430px;

    background: var(--foreground-color);

    /* border: 3px solid green; */
}

#player-album-art > img {
    width: 150px;
}
