body {
    background-color: #0a0a23;

    /* padding: 20px; */
}

#game {
    /* margin-top: 15px; */
    background-color: #ffffff;

    width: 40%;

    min-width: 400px;
    max-width: 500px;

    margin: 30px auto 0;
    padding: 10px;
}

#stats,
#controls,
#monsterStats {
    border: 1px solid #0a0a23;
    padding: 5px;
}

.stat {
    margin-right: 10px;
}

/* #button1,
#button2,
#button3  */

button {
    cursor: pointer;
    color: #0a0a23;

    background-color: #feac32;
    border: 3px solid #feac32;

    background-image: linear-gradient(#fecc4c, #ffac33);
}

#monsterStats {
    background-color: #c70d0d;
    color: #ffffff;

    display: none;
}

#text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
}
