body {
    /* background-color: burlywood; */
    font-family: sans-serif;
    padding: 20px;

    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
}

h1,
h2,
p {
    text-align: center;
}

.menu {
    width: 80%;
    max-width: 500px;

    background-color: burlywood;

    margin-left: auto;
    margin-right: auto;

    /* margin: 0 auto; */

    padding: 20px;
}

.flavor,
.dessert {
    text-align: left;
    width: 50%;
}

.price {
    text-align: right;
    width: 50%;
}

.item p {
    display: inline-block;

    margin: 5px 0;
    font-size: 18px;
}

h1,
h2 {
    font-family: Impact, serif;
}

.established {
    font-style: italic;
}

h1 {
    font-size: 40px;

    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

hr {
    height: 2px;

    background-color: brown;
    border-color: brown;
}

.bottom-line {
    margin-top: 25px;
}

/* FOOTER */
footer p {
    font-size: 14px;
}

/* a:link */
a {
    color: black;
}

a:visited {
    /* color: grey; */
    color: black;
}

a:hover {
    color: brown;
}

a:active {
    /* color: white; */
    color: brown;
}

.address {
    margin-bottom: 5px;
}

/* img is an inline elemt: odas r input, anchor tag, span*/
img {
    display: block;

    margin: 0 auto;
    margin-top: -25px;
}
