/* ds majorly a learning work. Check freecode folder for the correct codes */
h1 {
    text-align: center;
    background-color: rgb(0, 255, 255);
}

.container {
    background-color: rgb(255, 255, 255);
    padding: 10px 0;

    margin: 0 auto;
    width: 400px;

    border: 3px solid orangered;
}

.marker {
    height: 25px;
    width: 200px;

    margin: 10px auto;
    padding: 10px 0;

    border: 3px solid green;
}

.red {
    background-color: rgb(255, 0, 0);
    background: linear-gradient(
        90deg,
        rgb(255, 0, 0) 75%,
        rgb(0, 255, 0),
        rgb(0, 0, 255) 180deg,
        red 0%,
        green 50%,
        blue 100% 90deg,
        rgb(122, 74, 14) 75%,
        rgb(245, 62, 113),
        rgb(162, 27, 27)
    );
}

.sleeve {
    width: 110px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.5);

    background-color: white;
    opacity: 0.5;

    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: black;

    border-left: 10px solid black;

    border-left: 10px double rgba(0, 0, 0, 0.75);

    box-shadow: 5px 5px red;
    box-shadow: 0 0 20px 0 rgba(83, 14, 14, 0.8);
}

.cap {
    width: 60px;
    height: 25px;
}

.sleeve,
.cap {
    display: inline-block;
}

.green {
    background: linear-gradient(180deg, #55680d, #116c31);
    box-shadow: 0 0 20px 0 #3b7e20cc;
}

.blue {
    background: linear-gradient(hsl(223deg, 90%, 60%), hsl(240deg, 56%, 42%));

    box-shadow: 0 0 20px 0 hsl(223deg, 59%, 31%, 0.8);
}
