*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 2px solid red; */
}

:root {
    --dark-grey: #0a0a23;
    --white: #ffffff;
    --yellow: #f1be32;

    --font: "Poppins", sans-serif;
}

body {
    color: var(--white);
    background-color: var(--dark-grey);

    font-family: var(--font);
}

.title-container {
    margin: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    /* column-gap: 8px; */
}

.title {
    font-size: 2.5rem;
}

.date-svg {
    width: 30px;
    height: 30px;
}

.divider {
    margin: auto;

    width: 150px;
    height: 10px;

    background-color: var(--yellow);
}

.dropdown-container {
    position: relative;

    width: 50%;
    margin: 40px auto;
}

select {
    display: block;
    margin: 20px auto 0;

    width: 100%;
    height: 50px;

    /* why use 100% for font? */
    font-size: 100%;
    font-weight: bold;
    cursor: pointer;

    background-color: var(--white);
    border: none;
    outline: none;

    color: var(--dark-grey);

    padding: 10px;
    padding-right: 38px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    transition: color 0.3s ease, background-color 0.3s ease,
        border-bottom-color 0.3s ease;
}

/*
select option {
    color: red;
}
*/

.select-icon {
    position: absolute;
    top: 8px;
    right: 4px;

    width: 30px;
    height: 36px;

    padding-left: 5px;

    pointer-events: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.select-icon svg.icon {
    fill: var(--dark-grey);
    transition: fill 0.3s ease;
}

#current-date {
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 375px) {
    .title {
        font-size: 2rem;
    }

    .date-svg {
        display: none;
    }

    .dropdown-container {
        width: 80%;
    }
}
